* {
    background-color: #1d1d1d;
    margin: 0;
}
header {
    background-color: #2a2f3b;
    display: flex;
  justify-content: center;
  

}

.header-item {
    background-color: #2a2f3b;
    color: #fcfcfc;
    margin: 8px;
    margin-left: 3%;
text-decoration: none;
}
.header-item:hover {
    transition: 0.3s;
    color: rgb(60, 60, 112);
}
main {
    background-color: #252525;
    width: 25vh;
    height: 84.4vh;
    padding: 16px;
}
.for_light {
background-color: #fcfcfc;
}
.for_dark {
    background-color:  #1d1d1d;
}

.open_btn {
    word-wrap: break-word;
    margin-bottom: 24px;
    display: block;
    width: 100%;
    min-width: 50px;
    height: 80px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.open_btn:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.open_btn:active {
    color: #000
}

.open_btn:active:after {
    background: transparent;
}

.open_btn:hover:before {
    opacity: 1;
}

.open_btn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.active {
    color: rgb(76, 76, 139);
    cursor: default;
}
.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: auto;
    background-color: #1d1d1d;
  }
  .footer .col {
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
  }
  .footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: rgba(255, 255, 255, 0.2);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.25em;
  }
  .footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer .col ul li {
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
  }
  .social ul li {
    display: inline-block;
    padding-right: 5px !important;
  }
  .fa-brands{
    font-size: 1.5rem;
  }
  .footer .col ul li:hover {
    color: #ffffff;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
  } 
  .link {
    color: white;
  }
  .clearfix {
    clear: both;
  }
  @media only screen and (min-width: 1280px) {
    .contain {
      width: 1200px;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 1139px) {
    .contain .social {
      width: 1000px;
      display: block;
    }
    .social h1 {
      margin: 0px;
    }
  }
  @media only screen and (max-width: 950px) {
    .footer .col {
      width: 33%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 500px) {
    .footer .col {
      width: 50%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 340px) {
    .footer .col {
      width: 100%;
    }
}